$background-color: #79006e;
$background-hover-color: #55004e;

.Packages {

    .package-container {

        .package-heading-container {
            color: white;
            padding: 20% 0;
            background-image: url('https://media.istockphoto.com/id/652147598/photo/panorama-of-a-nature-and-landscape-view-in-leh-ladakh-india.jpg?s=612x612&w=0&k=20&c=OAub9_gk0T10jIcM4HXiygFfn_xDChfrNkab-5xnj4c=');
            text-align: center;
            margin-bottom: 3%;
            width: 100%;
            background-size: cover;
            background-position: center;

            @media (min-width: 590px) {
                padding: 10% 0;
            }

            .heading {
                font-size: 2.3rem;
                font-weight: bold;
                text-shadow: 2px 2px black;
            }

            .paragraph {
                font-size: 1rem;
                font-weight: 600;
                text-shadow: 1px .5px black;
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
      
        .btn-style {
          background-color: black;
          // color: $main-text-color;
          // border-color: $button-color;
          font-weight: 500;
      
          &:hover {
            background-color: red;
          }
        }
      
        li {
          margin: 0 5px;
          display: flex;
      
          a {
            display: block;
            padding: 8px 12px;
            text-decoration: none;
            color: white;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-color: $background-color;
      
            &:hover {
              background-color: $background-hover-color;
            }
          }
      
          &.active a {
            background-color: #36454F !important;
            color: #fff !important;
            border-color: #36454F !important;
          }
      
          &.disabled a {
            pointer-events: none;
            opacity: 0.6;
          }
      
          &.break-me a {
            cursor: default;
          }
      
        }
      
        @media (max-width: 768px) {
          flex-wrap: wrap;
      
          li {
            margin: 5px;
          }
        }
      }
}