.Blogs{
    
    .blog-container {
        // margin: 8% 50px;

        .blog-heading-container {
            color: white;
            padding: 20% 0;
            background-image: url('https://media.istockphoto.com/id/652147598/photo/panorama-of-a-nature-and-landscape-view-in-leh-ladakh-india.jpg?s=612x612&w=0&k=20&c=OAub9_gk0T10jIcM4HXiygFfn_xDChfrNkab-5xnj4c=');
            text-align: center;
            margin-bottom: 3%;
            width: 100%;
            background-size: cover;
            background-position: center;

            @media (min-width: 590px) {
                padding: 10% 0;
            }

            .heading {
                font-size: 2.3rem;
                font-weight: bold;
                text-shadow: 2px 2px black;
            }

            .paragraph {
                font-size: 1rem;
                font-weight: 600;
                text-shadow: 1px .5px black;
            }
        }

        .blog-component-container{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            margin: 40%;

            .blog-component{
                width: 50%;

                @media (max-width: 760px) {
                width: 100%;
                    
                }
    
            }
        }
    }
}