$background-color: hsl(305, 100%, 24%);
$background-color-hover: #53004c;

.PackagesComponent{
    margin: 70px;

    @media (max-width: 400px) {
        margin: 30px;
    }

    .heading{
        font-size: 2.3rem;
        font-weight: bold;
    }
    .heading-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .icon-left{
            color: white;
            background-color: $background-color;
            border: 1px $background-color solid;
            border-radius: 50%;
            padding: 4px;
            font-size:xx-large;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .icon-right{
            color: $background-color;
            border: 1px $background-color solid;
            border-radius: 50%;
            padding: 4px;
            font-size:xx-large;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: 476px) {
            margin: 0;
          }
    }

    .container {
        width: 100%;
        height: auto;
    

        .packages{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow-x: auto;
            position: relative;

            &::-webkit-scrollbar {
                display: none;
              }
        }

        .badge-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
    
            .badge {
                display: flex;
                align-items: center;
                background-color: rgb(230, 230, 230);
                color: black;
                margin: 3px;
                font-weight: 500;
            }
        }

    }

        .text{
            font-size: larger;
            text-align: center;
            text-wrap: wrap;
        }

        .z{
            z-index: 9999999999;
        }

        .button{
            background-color: $background-color;
            color: white;
            border-radius: 20px;
            padding: 10px 25px 10px 25px;
            border: none;
    
            &:hover{
                background-color: $background-color-hover;
            }
        }

      }
